{% schema %}
{
    "name": "Sticky ATC",
    "target": "section",
    "settings": []
}
{% endschema %}

{{ 'sticky_cart.css' | asset_url | stylesheet_tag }}

<style>
    .sticky-add-to-cart-v1 {
      background-color: {{ shop.metafields.customization.cart_bg_color }};
    }
    .sticky-add-to-cart-v1 .title {
      color: {{ shop.metafields.customization.cart_text_color }};
    }
    .sticky-add-to-cart-v1 .product-info .price .compare-at {
      color: {{ shop.metafields.customization.cart_text_color }};
    }
    .sticky-add-to-cart-v1 .product-info .price .current-price {
        color: {{ shop.metafields.customization.cart_price_text_color }}
    }
    .sticky-add-to-cart-v1 .add-to-cart-btn {
      background-color: {{ shop.metafields.customization.btn_bg_color }};
      color: {{ shop.metafields.customization.btn_text_color }};
      border: 1px solid {{ shop.metafields.customization.btn_bg_color }};
    }
    .sticky-add-to-cart-v1 .add-to-cart-btn:hover {
      background-color: {{ shop.metafields.customization.btn_onhover_bg_color }};
      color: {{ shop.metafields.customization.btn_onhover_text_color }};
    }
    .sticky-add-to-cart-v1 .buy-now-btn {
      background-color: {{ shop.metafields.customization.buy_bg_color }};
      color: {{ shop.metafields.customization.buy_text_color }};
      border: 1px solid {{ shop.metafields.customization.buy_bg_color }};
    }
    .sticky-add-to-cart-v1 .buy-now-btn:hover {
      background-color: {{ shop.metafields.customization.buy_onhover_bg_color }};
      color: {{ shop.metafields.customization.buy_onhover_text_color }};
    }
</style>

<div class='sticky-add-to-cart-v1'>
    <div class='product-info'>
        {% if product.featured_image %}
            <img
                src='{{ product.featured_image | image_url: width: 50, height : 50 }}'
                alt='{{ product.featured_image.alt | default: product.title }}'
                class='product-image'
                style='margin-right: 20px;'
                width='50'
                height='50'
                loading='lazy'
            >
        {% else %}
            <img
                src='{{ "no-image.svg" | asset_img_url: '15x' }}'
                style='margin-right: 20px;'
                width='50'
                height='50'
                alt='No Image Available'
                loading='lazy'
            >
        {% endif %}
        <div>
            <p class='title'>{{ product.title }}</p>
            {% assign variant = product.selected_or_first_available_variant %}
            <p class='price'>
                {% if variant.compare_at_price > variant.price %}
                    <span class='compare-at'>
                        {{ variant.compare_at_price | money }}
                    </span>
                {% endif %}
                <span class='current-price'>
                    {{ variant.price | money }}
                </span>
            </p>
        </div>
    </div>

    <div class='controls'>
        <!-- QUANTITY SELECTOR -->
        <div class='qty-selector'>
            <button type='button' class='qty-decrement' aria-label='Decrease quantity'>−</button>
            <input type='number' name='quantity' id="sticky__quantity" value='1' min='1' aria-label='Quantity' >
            <button type='button' class='qty-increment' aria-label='Increase quantity'>+</button>
        </div>

        <!-- ADD TO CART FORM -->
        {% comment %} <form action='/cart/add' method='post' class="add-to-cart-form" enctype='multipart/form-data'>
            <input type='hidden' name='id' value='{{ variant.id }}'>
            <input type='hidden' name='quantity' class='qty-input-hidden' value='1'>
            <button type='submit' class='add-to-cart-btn'>ADD TO CART</button>
        </form>

        <form action='/cart/add' method='post' class='buy-now-form'>
            <input type='hidden' name='id' value='{{ variant.id }}'>
            <input type='hidden' name='quantity' class='qty-input-hidden' value='1'>
            <input type="hidden" name="return_to" value="/checkout">
            <button type='submit' class='buy-now-btn'>BUY NOW</button>
        </form> {% endcomment %}

        <button type="button" class="add-to-cart-btn" id="cart__now">
            ADD TO CART <span class="loader sticky__cart__hidden"></span>
        </button>
        <button type="button" class="buy-now-btn" id="buy__now">
            BUY NOW <span class="loader sticky__cart__hidden"></span>
        </button>

    </div>
</div>

<script src='{{ "sticky_cart.js" | asset_url }}' defer></script>
